@import url("style.scss");
.content{
    display: flex;
    justify-content: center;
    align-items: center;
.app{
    background-color: #fff;
    margin: auto;
    width: 350px;
    height: 60vh;
}
}